{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
    <article class="media content-section">
    <div class="media-body">
        <a href="#">{{ post.author.username }}</a>
        <small>{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
 
        <h2><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
    </div>
    {% if current_user.is_authenticated %}
        {% if current_user.has_liked_post(post) %}
        <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}">Unlike</a>
        {% else %}
        <a href="{{ url_for('like_action', post_id=post.id, action='like') }}">Like</a>
        {% endif %}
     {% endif %}
     <small>{{ post.likes.count() }} Likes</small>
    <small class="ml-2">{{ post.total_comments() }} Comments</small>
    </article>
    {% endfor %}
{% endblock content %}
