{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <a href="#">{{ post.author.username }}</a>
            <small>{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            {% if post.author == current_user %}
                <div>
                    <a href="{{ url_for('update_post', post_id=post.id) }}" class="btn btn-secondary btn-sm">Update</a>
                    <button type="button" class="btn btn-danger btn-sm ml-2">Delete</button>
                </div>
            {% endif %}
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
        </div>
        {% if current_user.is_authenticated %}
            {% if current_user.has_liked_post(post) %}
            <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}">Unlike</a>
            {% else %}
            <a href="{{ url_for('like_action', post_id=post.id, action='like') }}">Like</a>
            {% endif %}
        {% endif %}
        <small>{{ post.likes.count() }} Likes</small>
        <small class="ml-2">{{ post.total_comments() }} Comments</small>
    </article>
    <div class="content-section">
        {% for comment in post.comments %}
        <p class="text-secondary">{{ comment.user.username }} on {{ comment.timestamp.strftime('%Y-%m-%d %H:%M') }} commented:</p>
        <p>{{ comment.body }}</p>
        {% endfor %}
    </div>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.body.label(class="form-control-label") }}
                {% if form.body.errors %}
                    {{ form.body(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.body.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.body(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group mt-2">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
{% endblock content %}
